.button {
    background-color: var(--color-primary);
    color: var(--color-text);
    font-family: 'Courier New', monospace; /* Fuente de máquina de escribir */
    font-size: 1.2rem;
    font-weight: 800;
    padding: 1rem 2rem;
    border-radius: 10px;
    box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.3);
    transition: all 0.2s ease-in-out;
  }
  
  .green {
    background-color: green;
  }

  .button:hover {

    transform: scale(1.05);
  }