.barraBotones{
  display: flex;
  flex-direction: column;
  gap: 10px;
font-size: 0.5rem;
}

.titleLevel{
  font-size: 1.3em;
  text-align: center;
}

.gameBotons{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

@media (min-width: 768px) {
  .gameBotons {
      
    margin-top: 2rem;
  }
}