---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	:root {
		--color-primary: #800080; /* Violeta */
		--color-secondary: #00ffff; /* Azul eléctrico */
		--color-tertiary: #ff00ff; /* Rosa fucsia */
		--color-accent: #ffff00; /* Amarillo neón */
		--color-text: #fff; /* Blanco */
		--color-background: #000000; /* Negro */
	}

	/*responsive*/
</style>
